html {
  font-family: sans-serif;
}

.workLod_body {
  width: 100%;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr {
  color: #000;
  background-color: #edeef0;;
}

caption {
  padding: 10px;
}

.head {
  color: #fff;
  background-color: #4a76a8;
  font-size: 1.2rem;
}

.requirements-table {
  margin-top: 30px;
}

input {
  width: auto;
}

.title {
  color: #ffa600;
}

.difficulties-list {
  padding-bottom: 30px;
  text-align: left;
  line-height: 2;
}
