.header_content {
  width: 1100px;
  display: flex;
  padding: 5px 0;
}

.header_props {
  width: 1fr;
  background-color: unset!important;
  flex-grow: 1;
}

.MuiBottomNavigationAction-root {
  color: #ffa600!important;
  justify-content: space-evenly !important;
  &:hover {
    background-color: rgba($color: #6e4510, $alpha: 0.5);
  }
}

.MuiButton-text {
  margin-right: 10px!important;
}

.MuiButton-root {
  color: white!important;
  border: 2px solid  #ffa600!important;
}
.MuiMenu-paper {
  margin-left: 6px;
}

@media (max-width: 940px) {
  .MuiBottomNavigationAction-root {
    max-width: 100px !important;
    min-width: 50px !important;
  }
}

@media (max-width: 600px) {
  .MuiBottomNavigationAction-root {
    max-width: 70px !important;
  }
}

@media (max-width: 550px) {
  .MuiBottomNavigationAction-root {
    max-width: 70px !important;
  }
}

@media (max-width: 500px) {
  .MuiBottomNavigationAction-root {
    max-width: 45px !important;
    min-width: 25px !important;
  }
  .MuiBottomNavigationAction-label{
    font-size: 0.6rem !important;
  }
}

@media (max-width: 400px) {
  .MuiBottomNavigationAction-root {
    max-width: 50px !important;
    min-width: 30px !important;
  }

  .MuiBottomNavigationAction-label{
    font-size: 0.45rem !important;
  }
  
  .MuiBottomNavigationAction-root {
    padding: 0 !important;
  }
}
